
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

::-webkit-scrollbar{
    display: none;
  } 
.main{
    height: 100vh;
}
.sidebar{
    background-color: #fff;    
}
.sidebar a{
    text-decoration: none;
    display: block;
    color: #444545;
    padding: 15px 40px;
}
.sidebar a:hover{
    color: #000000;
}
.sidebar a.active{
    background-color: #eee;
    border-right: solid 3px  #444545;
}
.content{
    background-color: rgba(238,238,238,255);
    color: black;
    padding: 10px;

}
.card-data{
    color: black;
    padding: 20px 40px;
}
.card-data.book{
    background-color: white;
    box-shadow: 10px 5px 5px 2px rgb(210, 206, 206);
    border-top: 10px solid black !important;
    border-radius: 10px;
}
.card-data.category{
    background-color: white;
    box-shadow: 10px 5px 5px 2px rgb(210, 206, 206);
    border-top: 10px solid black !important;
    border-radius: 10px;
}

.card-data.user{
    background-color: white;
    box-shadow: 10px 5px 5px 2px rgb(210, 206, 206);
    border-top: 10px solid black !important;
    border-radius: 10px;
}
.card-data i{
    font-size: 35px;
}
.card-desc{
    font-size: 20px;
}
.card-count{
    font-size: 20px;
}
.image-table{
    width: 36px;
	height: 36px;
	object-fit: cover;
}


